spring:
  application:
    name: auth-server

  datasource:
    url: jdbc:postgresql://localhost:5432/cloud_auth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: false
    open-in-view: false

  data:
    jpa:
      repositories:
        enabled: true

server:
  port: 9000
  servlet:
    context-path: /auth

logging:
  level:
    root: INFO
    com.cloud: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: TRACE
